<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- bootstrap webjars -->
<link rel="stylesheet" th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<!-- <script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script> -->

</head>
<body>

	<div th:fragment="footer" class="footer_wrapper">
	
		<div class="text-white bg-dark text-center footer_section">
			<div class="footer_up">
				<div class="footer_up_top">
					대표 : 원유정허김 / E : LetEatGo@gmail.com / F : 02) 042-
					서울 관악구 신림로 340 르네상스 쇼핑몰 6층
					문의전화(운영시간 평일 09:00~18:00)
					서비스 이용문의 : 070-1588-1588
				</div>
				<div class="footer_up_middle">
					(주)LetEatGO / 사업자등록번호 777-77-77777 / 통신판매업신고 7777-서울관악-7777 / 벤처기업확인 / 사업자정보확인
					서울지방중소기업청 제 031134233-1-01643호
				</div>
				<div class="footer_up_bottom">	
					<div class="footer_down1" onclick="location.href='https://www.youtube.com'">

					</div>
					
					<div class="footer_down2" onclick="location.href='https://www.instagram.com'">
	
					</div>
					
					<div class="footer_down3" onclick="location.href='https://www.facebook.com'">
					
					</div>
					
					<div class="footer_down4" onclick="location.href='https://www.twitter.com'">
					
					</div>
						
					</div>
		  
			</div>
			<div class="footer_down">
				Copyright LetEatGo Inc. All Rights Reserved
			</div>
		</div>
	
	</div>

</body>
</html>